[submodule "nft/lib/foundry-devops"]
	path = nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "stablecoin/lib/forge-std"]
	path = stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stablecoin/lib/openzepplin-contracts"]
	path = stablecoin/lib/openzepplin-contracts
	url = https://github.com/openzepplin/openzepplin-contracts
[submodule "stablecoin/lib/openzeppelin-contracts"]
	path = stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "stablecoin/lib/chainlink-brownie-contracts"]
	path = stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "airdrop/lib/forge-std"]
	path = airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "airdrop/lib/openzeppelin-contracts"]
	path = airdrop/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "airdrop/lib/murky"]
	path = airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "airdrop/lib/foundry-devops"]
	path = airdrop/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "upgradeableContract/lib/forge-std"]
	path = upgradeableContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "upgradeableContract/lib/openzeppelin-contracts-upgradeable"]
	path = upgradeableContract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "upgradeableContract/lib/openzeppelin-contracts"]
	path = upgradeableContract/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "upgradeableContract/lib/foundry-devops"]
	path = upgradeableContract/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "abstraction-acount/lib/forge-std"]
	path = abstraction-acount/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "abstraction-acount/lib/account-abstraction"]
	path = abstraction-acount/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "abstraction-acount/lib/openzeppelin-contracts"]
	path = abstraction-acount/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "abstraction-acount/lib/foundry-era-contracts"]
	path = abstraction-acount/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
